*{
    margin: 0px;
}
/*Navbar*/
nav{
    
    color: white;
    padding: 30px;
    background-color: black;
   
}
#h1{
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    display: inline;
    padding-left: 700px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
    display: inline;
    padding-left: 40px;
}
/*display image*/
.img{
    background-image: url(https://wallpaperaccess.com/full/902518.jpg);
    height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.imgdata{
    margin-left: 1100px;
    padding-top: 170px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
#btn{
    margin-left: 70px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
}

    
 